/ALActivityService.class
/ALApplicationService.class
/ALContainerConfigService.class
/ALOAuthConsumerService.class
/ALSocialApplicationConstants.class
/ALSocialApplicationFactoryService.class
/ALSocialApplicationHandler$Property.class
/ALSocialApplicationHandler.class
